* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%; }
  body header figure a {
    display: block;
    line-height: 22px;
    text-decoration: none;
    color: black; }
  body header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    body header nav input {
      display: none; }
    body header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body header nav ul li {
        margin-right: 3em;
        list-style: none; }
        body header nav ul li a {
          text-decoration: none;
          font-size: 1.2em; }
          body header nav ul li a:hover {
            color: saddlebrown; }
      body header nav ul .list-rigth {
        margin-right: 0; }
  body header .inp-section {
    border: 1px solid #21242b;
    border-radius: 24px;
    height: 44px;
    width: 584px;
    z-index: 3;
    background: white; }
    body header .inp-section .container-inp-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 8px 20px 0 18px;
      padding-left: 20px; }
      body header .inp-section .container-inp-section .img-search {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
        body header .inp-section .container-inp-section .img-search button {
          width: 25px; }
          body header .inp-section .container-inp-section .img-search button a {
            display: block;
            width: inherit;
            height: 28px;
            background-image: url("../images/search.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; }
        body header .inp-section .container-inp-section .img-search img {
          margin: auto;
          margin-top: 3px; }
      body header .inp-section .container-inp-section .input-section {
        width: 100%; }
        body header .inp-section .container-inp-section .input-section input {
          width: inherit;
          line-height: 28px;
          font-size: 16px;
          margin: 0;
          border: none;
          padding: 0;
          color: rgba(0, 0, 0, 0.87);
          outline: none; }
body main section {
  padding: 0 4em; }
  body main section .search {
    margin: 1em 0;
    font-size: 3em; }
  body main section article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 6em;
    margin: 2em 0; }
    body main section article .box-news {
      height: auto; }
      body main section article .box-news img {
        display: block;
        width: 80%; }
      body main section article .box-news .new-tag {
        display: block;
        margin: 1em 0; }
      body main section article .box-news .title-news {
        display: block;
        font-size: 1.5em;
        width: 85%;
        margin-bottom: .5em; }
      body main section article .box-news .publication-news {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        body main section article .box-news .publication-news p {
          margin-right: 1em; }
        body main section article .box-news .publication-news span {
          margin-right: 1em; }
body footer {
  width: 100%;
  height: 121px;
  background: #000000;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  padding-top: 2.5%; }

/*# sourceMappingURL=grid-layout.css.map */