* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%; }
  body header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    body header nav input {
      display: none; }
    body header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body header nav ul li {
        margin-right: 3em;
        list-style: none; }
        body header nav ul li a {
          text-decoration: none;
          font-size: 1.2em; }
          body header nav ul li a:hover {
            color: saddlebrown; }
      body header nav ul .list-rigth {
        margin-right: 0; }
  body header .inp-section {
    border: 1px solid #21242b;
    border-radius: 24px;
    height: 44px;
    width: 584px;
    z-index: 3;
    background: white; }
    body header .inp-section .container-inp-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 8px 20px 0 18px;
      padding-left: 20px; }
      body header .inp-section .container-inp-section .img-search {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
        body header .inp-section .container-inp-section .img-search button {
          width: 25px; }
          body header .inp-section .container-inp-section .img-search button a {
            display: block;
            width: inherit;
            height: 28px;
            background-image: url("../images/search.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; }
        body header .inp-section .container-inp-section .img-search img {
          margin: auto;
          margin-top: 3px; }
      body header .inp-section .container-inp-section .input-section {
        width: 100%; }
        body header .inp-section .container-inp-section .input-section input {
          width: inherit;
          line-height: 28px;
          font-size: 16px;
          margin: 0;
          border: none;
          padding: 0;
          color: rgba(0, 0, 0, 0.87);
          outline: none; }
body .main-new {
  position: relative; }
  body .main-new .figure-main-new {
    text-align: center; }
    body .main-new .figure-main-new img {
      width: 90%; }
  body .main-new h1 {
    position: absolute;
    width: 50%;
    color: #ffffff;
    font-size: 3em;
    bottom: 10%;
    left: 15%; }
  body .main-new .tag-menu-new {
    position: absolute;
    color: #ffffff;
    top: 5%;
    right: 12%; }
body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto; }
  body section .section-news {
    width: 70%; }
    body section .section-news .section-category {
      margin-top: 1em; }
      body section .section-news .section-category h2 {
        color: orangered; }
      body section .section-news .section-category .container-box-news {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 1em; }
        body section .section-news .section-category .container-box-news .box-news img {
          display: block;
          width: 80%; }
        body section .section-news .section-category .container-box-news .box-news .new-tag {
          display: block;
          margin: 1em 0; }
        body section .section-news .section-category .container-box-news .box-news .title-news {
          display: block;
          font-size: 1.5em;
          width: 85%;
          margin-bottom: .5em; }
        body section .section-news .section-category .container-box-news .box-news .publication-news {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          body section .section-news .section-category .container-box-news .box-news .publication-news p {
            margin-right: 1em; }
          body section .section-news .section-category .container-box-news .box-news .publication-news span {
            margin-right: 1em; }
      body section .section-news .section-category button {
        display: block;
        width: 350px;
        margin: 5em auto; }
        body section .section-news .section-category button a {
          display: block;
          line-height: 40px; }
  body section aside {
    width: 30%;
    padding-top: 1em; }
    body section aside .btns-aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body section aside .btns-aside button {
        width: 50%; }
        body section aside .btns-aside button a {
          display: block;
          line-height: 40px;
          text-decoration: none; }
    body section aside .box-aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 1.5em; }
      body section aside .box-aside h3 {
        font-size: 3em;
        font-weight: 500;
        margin-right: 10px; }
      body section aside .box-aside p {
        width: 60%;
        padding-top: 15px; }
      body section aside .box-aside figure {
        padding-top: 10px; }
        body section aside .box-aside figure img {
          width: 100%; }
body footer {
  height: 121px;
  background: #000000;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  padding-top: 2.5%; }

@media screen and (max-width: 1440px) {
  body header nav ul li {
    margin-right: 2em; }
    body header nav ul li a {
      font-size: 1.1em; }
  body main .main-new h1 {
    font-size: 2.5em; }
  body main section .section-news .section-category h2 {
    font-size: 1.5em; }
  body main section aside .box-aside p {
    width: 50%; } }
@media screen and (max-width: 1280px) {
  body header nav ul li a {
    font-size: 1em; }
  body main .main-new h1 {
    font-size: 2em;
    width: 40%; }
  body main section .section-news .section-category h2 {
    font-size: 1.5em; }
  body main section .section-news .section-category .container-box-news .box-news .new-tag {
    font-size: .8em; }
  body main section .section-news .section-category .container-box-news .box-news .title-news {
    font-size: 1.2em; }
  body main section aside .box-aside h3 {
    font-size: 2.5em; }
  body main section aside .box-aside p {
    width: 60%;
    font-size: .9em; }
  body main section aside .box-aside figure {
    text-align: end; }
    body main section aside .box-aside figure img {
      width: 80%; } }
@media screen and (max-width: 1024px) {
  body header nav ul li {
    margin-right: 1.7em; }
  body main .main-new h1 {
    font-size: 2em;
    width: 40%; }
  body main section .section-news .section-category .container-box-news {
    margin-top: 3em; }
    body main section .section-news .section-category .container-box-news .box-news .title-news {
      font-size: 1em; }
    body main section .section-news .section-category .container-box-news .box-news .publication-news {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      body main section .section-news .section-category .container-box-news .box-news .publication-news p {
        font-size: .8em; } }
@media screen and (max-width: 768px) {
  body header {
    background: tomato;
    position: relative; }
    body header nav input {
      display: block;
      width: 40px;
      height: 32px;
      opacity: 0;
      position: absolute;
      z-index: 2; }
      body header nav input[type="checkbox"]:checked ~ ul {
        height: 250px; }
      body header nav input:checked ~ span {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(2px, 1px);
                transform: rotate(45deg) translate(2px, 1px); }
      body header nav input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(0deg) scale(0.2, 0.2); }
      body header nav input:checked ~ span:nth-last-child(2) {
        -webkit-transform: rotate(-45deg) translate(1px, 0px);
                transform: rotate(-45deg) translate(1px, 0px); }
    body header nav span {
      display: block;
      width: 25px;
      height: 2.5px;
      margin-bottom: 6.5px;
      background: #000;
      -webkit-transform-origin: 3px 0px;
              transform-origin: 3px 0px; }
      body header nav span:first-child {
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%; }
      body header nav span:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%; }
    body header nav ul {
      display: inline-block;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      text-align: center;
      background: #444;
      z-index: 10; }
      body header nav ul li {
        margin-right: 0; }
        body header nav ul li:hover {
          background: #0b0b0b; }
        body header nav ul li a {
          display: block;
          width: 100%;
          line-height: 50px;
          font-size: 1.7em;
          color: #ffffff; }
  body main .main-new .figure-main-new img {
    width: 100%; }
  body main .main-new h1 {
    width: 50%; }
  body main .main-new .tag-menu-new {
    right: 5%; }
  body main section {
    margin: 0;
    width: 100%; }
    body main section .section-news {
      width: 60%;
      border-right: 1px solid #d5cece; }
      body main section .section-news .section-category h2 {
        text-align: center; }
      body main section .section-news .section-category .container-box-news {
        margin-top: 2em;
        padding-left: 20px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        body main section .section-news .section-category .container-box-news .box-news {
          width: 50%;
          margin-bottom: 2em; }
      body main section .section-news .section-category button {
        margin-top: 0;
        margin-bottom: 5em; }
    body main section aside {
      width: 40%;
      padding-left: 2%; }
      body main section aside h2 {
        text-align: center; }
      body main section aside .btns-aside {
        margin-top: 2em; }
        body main section aside .btns-aside button a {
          line-height: 30px; }
      body main section aside .box-aside {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative; }
        body main section aside .box-aside h3 {
          width: 10%;
          height: 102px;
          margin: 0; }
        body main section aside .box-aside p {
          position: absolute;
          left: 35px;
          top: 135px;
          width: 80%;
          padding: 0; }
        body main section aside .box-aside figure {
          -webkit-box-ordinal-group: -1;
              -ms-flex-order: -2;
                  order: -2;
          width: 100%;
          height: 127px;
          text-align: center;
          padding: 0; }
          body main section aside .box-aside figure img {
            width: 70%; } }
@media screen and (max-width: 393px) {
  body main .main-new h1 {
    font-size: 1.1em;
    width: 70%; }
  body main .main-new a {
    font-size: .8em; }
  body main section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body main section .section-news {
      width: 100%; }
      body main section .section-news .section-category .container-box-news {
        padding-left: 8%; }
      body main section .section-news .section-category button {
        margin-bottom: 2.5em; }
    body main section aside {
      width: 100%;
      padding: 0; }
      body main section aside .btns-aside button a {
        line-height: 40px; }
      body main section aside .box-aside h3 {
        margin-left: 1em; }
      body main section aside .box-aside p {
        width: 70%;
        top: 160px;
        left: 75px; }
      body main section aside .box-aside figure {
        height: 150px; }
        body main section aside .box-aside figure img {
          width: 60%; } }

/*# sourceMappingURL=style.css.map */